/*********
    HOME
**********/

.home{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home span{
    color: white;
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 2px;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100vh;
    filter: brightness(.5);
    overflow: hidden;
}
  
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
  
.bg.active {
    opacity: 1;
}

.banner.active {
    opacity: 1;
}

.banner {
    max-width: 90%;
    padding: 4rem;
    opacity: 0;
    position: absolute;
    transition: 0.6s;
}

.dots {
    display: flex;
    gap: 2rem;
    position: absolute;
    bottom: 3rem;
    left: 3rem;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: black;
    cursor: pointer;
}

.dot.active {
    background-color: white;
}

@media screen and (max-width: 700px) {
    .banner {
        max-width: 100%;
    }
    .slideshow-container{
        height: 50%;
    }
    .bg{
        transform: scale(1.4);
    }
}

@media screen and (max-width: 610pc){
    .home{
        height: 90vh;
    }
    .slideshow-container {
        height: 100%;
    }
}

@media screen and (max-width: 500pc){
    .home{
        height: 80vh;
    }

    .dots {
        bottom: 5rem;
    }
}
