/*************
    Products
**************/

#title-products{
    text-align: center;
    color: #333333;
    margin: 4rem 1em 1em 1em;
}

.products{
    width: 63em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    margin: 0 auto;
    transition: all 1s ease-in-out;
}

.products::-webkit-scrollbar {
    display: none;
}

/* .products .items{
    overflow-x: auto;
} */

.products .items-gallery{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: 1.5em;
}

.products .card{
    position: relative;
    width: 320px;
    height: 340px;
    background-color:#333;
    border-radius: 20px;
    flex-shrink: 0;
    opacity: 1;
    overflow: hidden;
    margin: 10px 0 10px 0;
    transition: all 600ms ease-in-out;
}

#buttons-carosuel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 2em;
    padding: 2em;
}

#buttons-carosuel button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 1em;
    width: 4em;
    height: 3.5em;
    outline: none;
    border: 2px solid #333333;
    color: #333333;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

#buttons-carosuel button:hover{
    border-color: #FF8C00;
    color:#FF8C00;
    background-color: #b1b1b10e;
}

/* CARD */

.card::before{
    content: '';
    position: absolute;
    top: -40%;
    width: 100%;
    height: 100%;
    background: #FF8C00;
    transform: skewY(345deg);
    transition: 0.4s all ease-in-out;
}

.card:hover::before{
    transform: skewY(390deg);
    top: -50%;
}

.card::after{
    contain: '';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 3.5em;
}

.card .imgBox{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    z-index: 1;
}

.card .imgBox img{
    max-width: 80%;
    height: 13em;
    transition: 0.5s;
}

.card:hover .imgBox img{
    max-width: 70%;
    height: 12em;
}

.card .contentBox{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.card .contentBox h3{
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.card .contentBox .preco{
    font-size: 24px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

.card .contentBox .buy{
    position: relative;
    top: 200px;
    opacity: 0;
    margin-top: 10px;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    background: #2196f3;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
.card:hover .contentBox .buy{
    top: 0;
    opacity: 1;
}

@media screen and (max-width: 1090px) {
    .products .items-gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 735px) {
    .products{
        width: 20em;
    }
    .products .items-gallery{
        grid-template-columns: repeat(1, 1fr);
    }
}